extends layout 

block content 
    .admin-access
        h1 You have been granted administrator access.
        p You may now edit and delete messages on the homepage.
        p Click to 
            a(class='inline-link' href='/') return home
            | .