extends layout 

block content 
    h1 You have been granted administrator access.
    p You may now edit and delete messages on the homepage.
    p Click to 
        a(href='/') return home
        | .