extends layout 

block content 

    h1 Administrator Access
    if currentUser 
        if !currentUser.member
            h2 Sorry, #{currentUser.firstName} - you are not yet an initiated member of the Society.
            p Please complete your 
                a(href='/become-a-member/') membership application
                |  before attempting to become an administrator.
        else if currentUser.member && !currentUser.admin
            form(action='' method='POST')
                label(for='code') Admin Code: 
                input(name='code' id='code' type='password' required)
                input(name='id' id='id' type='hidden' value=(currentUser.id))
                input(type='submit')
        else if currentUser.member && currentUser.admin 
            h2 You are already a Secret Society admin.
            p Click to 
                a(href='/') go home
                | .

    else 
        h2 You are not a registered user.
        p Before proceeding, you must first 
            a(href='/sign-up') sign up
            |  or 
            a(href='/log-in') log in
            | .
        p You will then need to become a member of the Society before applying for admin privileges.
