doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/styles/style.css')
        meta(name='viewport' content='width=device-width, initial-scale=1')
    body
        .background(aria-hidden='true')
            - for (let i = 1; i < 19; i++)
                if (i % 2 === 0)
                    div(class=(`left-graphic red-circle circle-` + i))
                    div(class=(`right-graphic green-circle circle-` + i))
                else
                    div(class=(`left-graphic green-circle circle-` + i))
                    div(class=(`right-graphic red-circle circle-` + i))
        header 
            a(class='title-link' href='/')
                h1.site-title
                    span.green s
                    span.red e
                    span.green c
                    span.red r
                    span.green e
                    span.red t
                    span  
                    span.green s
                    span.red o
                    span.green c
                    span.red i
                    span.green e
                    span.red t
                    span.green y
            nav
                ul.nav-links
                    if currentUser 
                        li.nav-link.button
                            a(href='/') Go Home
                        if !currentUser.member
                            li.nav-link.button
                                a(href='/become-a-member/') Become a Member 
                        if currentUser.member && !currentUser.admin
                            li.nav-link.button
                                a(href='/become-admin') Become an Admin
                        li.nav-link.button
                            a(href='/log-out/') Log Out 
                    else 
                        li.nav-link.button
                            a(href='/sign-up/') Sign Up
                        li.nav-link.button
                            a(href='/log-in/') Log In

        main
            block content
