doctype html
html(lang='en')
    head
        title Secret Society
        link(rel='stylesheet', href='/styles/style.css')
        link(rel='icon' type='image/x-icon' href='/images/favicon.ico')
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
    body
        .background(aria-hidden='true')
            - for (let i = 1; i < 19; i++)
                if (i % 2 === 0)
                    div(class=(`left-graphic red-circle circle-` + i))
                    div(class=(`right-graphic green-circle circle-` + i))
                else
                    div(class=(`left-graphic green-circle circle-` + i))
                    div(class=(`right-graphic red-circle circle-` + i))
        header 
            a(class='title-link' href='/')
                h1.site-title
                    span.green s
                    span.red e
                    span.green c
                    span.red r
                    span.green e
                    span.red t
                    span  
                    span.green s
                    span.red o
                    span.green c
                    span.red i
                    span.green e
                    span.red t
                    span.green y
            nav
                ul.nav-links
                    if currentUser 
                        a(href='/')
                            li.nav-link.button Go Home
                        if !currentUser.member
                            a(href='/become-a-member/')
                                li.nav-link.button Become a Member 
                        if currentUser.member && !currentUser.admin
                            a(href='/become-admin')
                                li.nav-link.button Become an Admin
                        a(href='/log-out/')
                            li.nav-link.button Log Out 
                    else 
                        a(href='/sign-up/')
                            li.nav-link.button Sign Up
                        a(href='/log-in/')
                            li.nav-link.button Log In

        main
            block content
