extends layout 

block content 
    h1 You entered the wrong code.
    p If you believe this was a mistake, you can 
        a(href='/become-a-member/') try again
        | .
    p Otherwise, 
        a(href='/') return home
        | .