extends layout 

block content 
    h1 You entered the wrong code.
    if page
        if (page === 'member')
            p If you believe this was a mistake, you can 
                a(class='inline-link' href='/become-a-member/') try again
                | .
        else if (page === 'admin')
            p If you believe this was a mistake, you can 
                    a(class='inline-link' href='/become-admin/') try again
                    | .
    p Otherwise, 
        a(class='inline-link' href='/') return home
        | .