/* fonts: */

@font-face {
    font-family: 'Cormorant';
    src: url('/fonts/Cormorant-VariableFont_wght.ttf');
    font-weight: 300 800;
}

@font-face {
    font-family: 'Stencilus';
    src: url('/fonts/Stencilus.otf');
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root {
    --rvv: calc(1rem + 1vmin + 1vmax);

    /* colors: */
    --blue-button: #6ca6c9a5;
    --delete-red: #f9877f;
    --green: #3d5a2c;
    --inline-link: #396f91;
    --red: #824E4A;
    --site-bg: #fcdaba;
    --transparent-white: #ffffffa4;
}

.inline-link {
    color: var(--inline-link);
    text-decoration: none;
    font-weight: 700;
}

.inline-link:visited {
    color: var(--inline-link);
}

.blue-button {
    cursor: pointer;
    margin: 10px 0;
    border: none;
    font-family: 'Cormorant';
    font-size: calc(0.7*var(--rvv));
    background-color: var(--blue-button);
    padding: 5px 10px;
    border-radius: 10px;
}

main {
    margin: 0 auto;
    width: 95%;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(0.25*var(--rvv));
}

main h1 {
    font-size: calc(0.8*var(--rvv));
}

main h1.large-heading {
    font-size: calc(1*var(--rvv));
}

main p {
    font-size: calc(0.6*var(--rvv));
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form {
    background-color: var(--transparent-white);
}

form .form-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form label {
    font-size: calc(0.8*var(--rvv));
}

form input[type='text'],
form input[type='password'],
form textarea {
    padding: 0 10px;
    height: 3rem;
    border: none;
    outline: none;
    font-family: 'Cormorant';
    font-size: 1.5rem;
    border-radius: 3px;
    background-color: #ffffffe0;
}

form textarea {
    padding: 10px;
    height: 8rem;
    resize: none;
}

form input[type='submit'] {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: var(--blue-button);
    font-family: 'Cormorant';
    font-size: calc(0.8*var(--rvv));
    padding: 8px;
}

.button {
    color: black;
    text-decoration: none;
    border: none;
}

.button:visited {
    color: black;
}

html,
body {
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--site-bg);
    font-size: 16px;
    font-family: 'Cormorant';
    font-weight: 400;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(0.5*var(--rvv));
    margin-bottom: calc(0.5*var(--rvv));
}

.title-link {
    text-decoration: none;
}

.site-title {
    font-family: 'Stencilus';
    font-size: calc(2.5*var(--rvv));
    text-align: center;
}

.green {
    color: var(--green);
}

.red {
    color: var(--red);
}

nav {
    width: 100vw;
}

.nav-links {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: calc(0.5*var(--rvv));
    column-gap: calc(1*var(--rvv));
}

.nav-link {
    font-size: calc(0.7*var(--rvv));
    background-color: var(--transparent-white);
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.nav-link a {
    text-decoration: none;
    color: black;
}

.nav-link a:visited {
    color: black;
}

.intro-container {
    width: 100%;
    
}

.intro {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: calc(0.3*var(--rvv));
    margin: calc(0.3*var(--rvv)) 0 calc(0.5*var(--rvv));
}

.username {
    font-weight: 800;
}

.messages {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.messages-top-matter {
    width: calc(90% + 40px);
    max-width: 750px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.messages-container {
    padding: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.message {
    width: 90%;
    padding: 20px;
    background-color: var(--transparent-white);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message-title {
    font-weight: 500;
}

.author-date {
    display: flex;
    gap: 30px;
    font-size: calc(0.6*var(--rvv));
}

.message-date {
    font-weight: 300;
}

.message-body {
    margin: auto 0;
    font-size: calc(0.7*var(--rvv));
    border-radius: 5px;
}

.edit-button {
    margin-left: auto;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    font-size: calc(0.5*var(--rvv));
    background-color: #ffb7b296;
}

.uninitiated-message {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.please-log-in {
    margin-top: 20px;
}

.message-form-errors {
    margin: 20px 0;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #7b201a49;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.message-form-errors .errors {
    padding-left: 10px;
    list-style: none;
}

.message-form-errors .error {
    padding-left: 10px;
    font-size: calc(0.5*var(--rvv));
    font-weight: 500;
    display: flex;
    align-items: center;
}

.message-form-errors .error::before {
    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url('/images/error.svg');
    background-size: contain;
}

.new-message,
.edit-message {
    margin-top: 20px;
    padding: 20px 30px;
    width: 80%;
    max-width: 500px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.edit-message {
    position: relative;
}

.message-form-title {
    font-size: calc(0.8*var(--rvv));
    font-weight: 500;
    text-decoration: underline;
    margin-right: auto;
}

.edit-message-form-title {
    text-decoration: none;
    max-width: 80%;
}

.delete-message-button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: calc(0.6*var(--rvv));
    text-decoration: none;
    background-color: var(--delete-red);
    padding: 5px;
    border-radius: 3px;
}

.delete-page {
    gap: calc(0.5*var(--rvv));
}

.delete-title {
    text-align: center;
    font-weight: 700;
}

form input[type='submit'].confirm-delete-button {
    font-size: calc(0.8*var(--rvv));
    background-color: var(--delete-red);
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
}

.delete-page-error {
    display: flex;
    flex-direction: column;
    gap: calc(0.5*var(--rvv));
}

/* LEFT OFF HERE */

.admin-access {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(0.5*var(--rvv));
    max-width: 750px;
}

.admin-access h1 {
    text-align: center;
    font-size: calc(0.8*var(--rvv));
}

.admin-access p {
    text-align: center;
    font-size: calc(0.6*var(--rvv));
}

.password-form,
.sign-up-form {
    align-self: center;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.password-form label,
.sign-up-form label {
    width: 100%;
    text-align: start;
    font-size: calc(0.6*var(--rvv));
}

.password-form .text-input,
.sign-up-form .text-input {
    width: 300px;
    padding: 5px;
    border: none;
    outline: none;
    font-family: 'Cormorant';
    font-size: calc(0.6*var(--rvv));
    border-radius: 3px;
    background-color: #ffffffe0;
}

.password-form .submit-button,
.sign-up-form .submit-button {
    margin-top: 30px;
    width: fit-content;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: var(--blue-button);
    font-family: 'Cormorant';
    font-size: calc(0.6*var(--rvv));
    padding: 8px;
}

.log-in-page {
    margin: 0 auto;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.log-in-page h1 {
    font-size: calc(0.8*var(--rvv));
}

.error {
    font-size: calc(0.6*var(--rvv));
}

.become-member-page {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(0.5*var(--rvv));
    max-width: 750px;
    text-align: center;
}

.become-member-page h1 {
    font-size: calc(0.8*var(--rvv));
}

.become-member-page p {
    font-size: calc(0.6*var(--rvv));
}

.become-member-page form {
    display: flex;
    flex-direction: column;
}

.become-member-page .password-form .submit-button {
    margin-top: 10px;
}

.become-member-page.new-member-page {
    text-align: center;
}

.sign-up-page {
    max-width: 750px;
    margin: 0 auto;
}

.already-signed-up {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.sign-up-page h1 {
    font-size: calc(0.8*var(--rvv));
    margin-bottom: 10px;
    text-align: center;
}

.sign-up-page p {
    font-size: calc(0.6*var(--rvv));
}

.sign-up-page form {
    display: flex;
    flex-direction: column;
}

.sign-up-page form input {
    margin-bottom: 3px;
}

.sign-up-page form .submit-button {
    margin-top: 10px;
}

.sign-up-page .sign-up-form-errors.message-form-errors {
    margin-bottom: 20px;
}

/* desktop styles: */

@media only screen and (min-width: 500px) {

    .site-title span:hover {
        filter: invert(100%);
    }

    body {
        padding: calc(1*var(--rvv));
    }

    .button,
    form input[type='submit'],
    .confirm-delete-button {
        transition: transform 0.1s ease-in-out;
    }

    .button:hover,
    form input[type='submit']:hover,
    .confirm-delete-button:hover {
        transform: scale(1.05);
    }

    .nav-link {
        font-size: calc(0.6*var(--rvv));
    }

    .message-body {
        padding: 10px 0;
    }

    .edit-button {
        padding: 7px 10px;
    }

    .message-page form .form-section label {
        font-size: calc(0.7*var(--rvv));
    }
}

@media screen and (min-width: 918px) {
    .message {
        max-width: 800px;
    }
}